---
import HtmlIcon from '../icons/HtmlIcon.astro'
import CssIcon from '../icons/CssIcon.astro'

const TAGS = {
  HTML: {
    name: 'HTML',
    class: 'bg-red-400/75 text-white',
    icon: HtmlIcon
  },
  CSS: {
    name: 'CSS',
    class: 'bg-blue-400/75 text-white',
    icon: CssIcon
  }
}

const PROJECTS = [
  {
    title: 'Barbería Alura',
    description: 'Pagina web para una barbería donde solo se utiliza HTML y CSS',
    link: 'https://ideics.github.io/portafolio/',
    image: '/public/project/project_1.webp',
    tags: [TAGS.HTML, TAGS.CSS]
    
  }
]
---

{
  PROJECTS.map(({image, title, description, tags}) => (
    <article>
      <h3 class="text-2xl font-semibold dark:text-green-200/90 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-4">
        {tags.map((tags) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tags.class} py-1 px-2`}>
              <tags.icon class="size-4" />
              {tags.name} 
            </span>
          </li>
        ))}
      </ul>
      <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura del proyecto ${image}`}>
    </article>
  ))
}